<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwAJm3fD1cQqVW_FeDDvhAaRYESAIe5ag</string>
	<key>GCM_SENDER_ID</key>
	<string>954738987178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uhealth.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>devision-2f453</string>
	<key>STORAGE_BUCKET</key>
	<string>devision-2f453.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954738987178:ios:b54986342ed68e051040d3</string>
</dict>
</plist>